.header {
  width: 90%;
  margin-top: 30px;
  height: 35px;
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: space-between;
  align-items: center;
}

.header>h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  color: #FFFFFF;
}

.header>img {
  width: 24px;
  height: 24px;
}

.header>img:hover {
  cursor: pointer;
}

.icon {
  width: 28px;
  height: 28px;
}

.icon:hover {
  cursor: pointer;
}

.header>div {
  width: 135px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}