.story {
  margin-top: 25px;
  margin-left: 5%;
  width: 95%;
  height: 90px;
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: scroll;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  margin-bottom: 20px;
}

.story::-webkit-scrollbar {
  display: none;
}

.storyBox>div>img {
  border: 3.5px solid #1F1D2B;
  border-radius: 50%;
  height: 54px;
  width: 54px;
  background-clip: padding-box;
}

.storyBox {
  width: 70px;
  height: 85px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.storyBox>p {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 11px;
  text-align: center;
  visibility:visible;
  letter-spacing: 0.3px;
  color: #808191;
}

.border {
  border-radius: 50%;
  width: 66px;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 5px; */
  /* margin: 3px; */
  background-size: 20px;
  /* background: linear-gradient(#08A0F7, #6C5ECF); */
}

.border>div {
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #08A0F7;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  margin-top: 36px;
  align-items: center;
  margin-left: 54px;
  background-clip: padding-box;
  border: 4.5px solid #1F1D2B;
  position: absolute;
  z-index: 50;
}

.icon {
  width: 13px;
  height: 13px;
}